.fieldset {
	display: flex;
	flex-direction: column;
	padding: 0;
	border: none;
}

.fieldset_view_row {
	flex-direction: row;
	align-items: center;
}

.fieldset_view_row .fieldset__label {
	margin-bottom: 0;
	margin-right: var(--space-s);
}

.fieldset_view_row .fieldset__value {
	margin-left: var(--space-s);
}

.fieldset_required .fieldset__label::after {
	content: '*';
	margin-left: var(--space-xxxs);
	color: var(--color-base-alert);
}

.fieldset__label {
	margin-bottom: var(--space-xs);
}

.fieldset__input {
	width: 100%;
}

.fieldset__input_view_icon {
	position: relative;
}

.fieldset__input_view_icon .input {
	padding-right: 36px;
}

.fieldset__input_view_icon .icon {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	transform: translateY(-50%);
	cursor: pointer;
}

.fieldset__value {}