.theme_color_default {
	--color-base-default: #000000;
	--color-base-essential: #FFFFFF;
	--color-base-project: #FFCC00;
	--color-base-ghost: #D9D9D9;
	--color-base-dimmed: #7F8285;
	--color-base-success: #00B341;
	--color-base-warning: #FF9A00;
	--color-base-alert: #FF3333;

	--color-bg-default: var(--color-base-essential);
	--color-bg-brand: var(--color-base-project);
	--color-bg-border: var(--color-base-ghost);
	--color-bg-soft: #F0F2F3;
	--color-bg-success: var(--color-base-success);
	--color-bg-warning: var(--color-base-warning);
	--color-bg-alert: var(--color-base-alert);
	--color-bg-link: var(--color-base-dimmed);

	--color-bg-control: #E6E6E6;
	--color-bg-control-hover: #DBDBDB;
	--color-bg-action-hover: #F2C200;
	--color-bg-disabled: #F2F2F2;

	--color-border-control-focus: #B3B3B3;
	--color-border-action-focus: #B38F00;

	--color-link: var(--color-base-dimmed);
	--color-link-hover: #E00000;

	--color-text-primary: var(--color-base-default);
	--color-text-secondary: var(--color-base-dimmed);
	--color-text-ghost: #7F7F7F;
	--color-text-additional: #595959;

	--color-icon-dark: #111111;
	--color-icon-light: #CECECE;
}

.theme_size_default {
	--text-size-xs: 13px;
	--text-size-s: 15px;
	--text-size-m: 18px;
	--text-size-l: 24px;

	--text-lineheight-xs: 15px;
	--text-lineheight-s: 18px;
	--text-lineheight-xm: 20px;
	--text-lineheight-m: 28px;
	--text-lineheight-l: 30px;
	--text-lineheight-xl: 36px;

	--border-radius-size-xs: 4px;
	--border-radius-size-s: 6px;
}

.theme_space_default {
	--space-xxxs: 2px;
	--space-xxs: 4px;
	--space-xs: 6px;
	--space-s: 8px;
	--space-m: 10px;
	--space-l: 12px;
	--space-xl: 14px;
	--space-xxl: 16px;
	--space-xxxl: 18px;
	--space-xxxxl: 20px;
	--space-xxxxxl: 22px;
	--space-xxxxxxl: 24px;
}

.theme_font_default {
	--font-family: 'YS text', sans-serif;
	font-family: var(--font-family);
}