.build-card {
	position: relative;
	padding-left: 56px;
}

.build-card_column {
	display: flex;
	flex-direction: column;
}

.build-card_column .build-card__side-info {
	margin-top: var(--space-s);
	padding-top: var(--space-s);
	border-top: 1px solid var(--color-bg-disabled);
}

.build-card_column .build-card__meta_column {
	flex-direction: row;
}

.build-card_column .build-card__meta_column .build-card__meta-item {
	margin-right: var(--space-m);
	margin-bottom: 0;
}

.build-card__icon {
	position: absolute;
	top: 12px;
	left: 25px;
}

.build-card__main-info {
	flex-grow: 1;
}

.build-card__side-info {
	min-width: 100px;
}

.build-card__title {
	margin-bottom: var(--space-s);
	padding-right: var(--space-xxxxl);
	max-width: 600px;
}

.build-card__meta {
	display: flex;
}

.build-card__meta_column {
	flex-direction: column;
}

.build-card__meta_column .build-card__meta-item {
	margin-right: 0;
	margin-bottom: var(--space-l);
}

.build-card__meta_column .build-card__meta-item:last-child {
	margin-bottom: 0;
}

.build-card__meta-item {
	margin-right: var(--space-m);
}

.build-card__meta-item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 768px) {
	.build-card {
		display: flex;
		flex-direction: column;
		padding-left: 36px;
	}

	.build-card__icon {
		left: 13px;
	}

	.build-card__icon svg {
		width: 16px;
	}

	.build-card__title {
		margin-bottom: var(--space-l);
	}

	.build-card__side-info {
		margin-top: var(--space-s);
		padding-top: var(--space-s);
		border-top: 1px solid var(--color-bg-disabled);
	}

	.build-card__meta {
		flex-direction: column;
	}

	.build-card__meta-item {
		margin-right: 0;
		margin-bottom: var(--space-s);
	}

	.build-card__meta_column {
		flex-direction: row;
	}

	.build-card__meta_column .build-card__meta-item {
		margin-right: var(--space-m);
		margin-bottom: 0;
	}
}