.input {
	width: 100%;
	padding: 10px 13px;
	font-size: var(--text-size-xs);
	line-height: var(--text-lineheight-xs);
	border: 2px solid var(--color-bg-heavy);
	border-radius: var(--border-radius-size-xs);
	transition: border-color .3s ease-in-out;
}

.input:focus {
	border-color: var(--color-border-control-focus);
}

.input_view_small {
	max-width: 52px;
	text-align: right;
}

.input__icon {}