.build-detail {
	margin-top: var(--space-s);
	margin-bottom: var(--space-xxxxl);
}

.build-details__card {
	margin-bottom: var(--space-l);
}

.build-detail__log {
	padding: var(--space-s);
	border-radius: var(--border-radius-size-s);
	background-color: var(--color-bg-disabled);
	overflow-x: auto;
}

@media screen and (max-width: 824px) {
	.build-detail__log {
		margin: 0 calc(var(--space-xxl) * -1);
	}
}