.icon {

}

.icon_view_light {
	fill: var(--color-icon-light);
}

.icon_view_success {
	fill: var(--color-bg-success);
}

.icon_view_waiting {
	fill: var(--color-bg-warning);
}

.icon_view_alert {
	fill: var(--color-bg-alert);
}