.card {
	display: flex;
	justify-content: space-between;
	padding: var(--space-l) var(--space-xxxxxxl);
	border-radius: var(--border-radius-size-s);
	background-color: var(--color-bg-default);
	box-shadow: 0 1px 1px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
	transition: box-shadow .3s ease-in-out;
}

.card:hover {
	box-shadow: 0 2px 8px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
}

.card_hover_off {}

.card_hover_off:hover {
	box-shadow: 0 1px 1px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
}

@media screen and (max-width: 768px) {
	.card {
		padding-right: var(--space-s);
	}
}